@import "variables";
div.extrasTaulaExpos {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10.5%;
    .crearRegistreExpos {
        margin-right: 10px;
        border: 0;
        border-radius: 7px;
        background-color: $bgColorBoton;
        padding: 6px 6px 0px 6px;
        height: 27px;
        text-decoration: none;
        color: white;
        img {
            width: 10px;
            margin: 4px 2px;
            float: left;
        }
    }
    
    .barra-busqueda {
        float: right;
        border: solid 1px rgb(182, 182, 182);
        border-radius: 15px;
        width: 250px;
        img {
            width: 20px;
            margin: 6px 10px 0 10px;
            float: left;
        }
    
        input {
            width: 190px;
            border: 0;
            height: 28px;
        }
        input:focus {
            outline: none;
        }
    }
}

.taulaExposicions {
    table {
        width: 90%;
        margin: 20px auto;
        border-collapse: collapse;

        th,
        td {
            padding: 20px;
            text-align: center;
        }
        td img {
            width: 40px;
            max-height: 40px;
        }
        td .imagen-contenedor {
            display: flex; 
            justify-content: center; 
            align-items: center;
        }

        td a img {
            width: 20px; 
            margin: 0 5px; 
        }
    }

    .edit-options {
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a img {
                width: 20px;
            }
        }
    }

    .imagenFicha a img {
        width: 20px;
    }
}