@import "variables";
.taulaExposicions {
    table {
        width: 90%;
        margin: 20px auto;
        border-collapse: collapse;

        th,
        td {
            padding: 20px;
            text-align: center;
        }
        td img {
            width: 40px;
            max-height: 40px;
        }
        td .imagen-contenedor {
            display: flex; 
            justify-content: center; 
            align-items: center;
        }

        td a img {
            width: 20px; 
            margin: 0 5px; 
        }
    }

    .edit-options {
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a img {
                width: 20px;
            }
        }
    }

    .imagenFicha a img {
        width: 20px;
    }
}