@import "variables";
/* Footer */

footer {
    width: 100%;
    background: $bgFooter;
    position: relative;
    bottom: 0;
    margin-top: auto; // Mantener al final del contenido
    .info-footer {
        float: left;

        p {
            display: flex;
            align-items: center;

            img {
                width: $widthIconosInfo;
                margin: 0 10px 0 25px;
            }
        }
    }

    .redes {
        float: right;
        margin-right: 20px;

        img {
            width: $widthIconosRedes;
            margin: 30px 5px;
        }
    }
}