.formCrearVocabulari {
    margin: auto auto;
    div {
        width: 400px;
        background-color: #838181;
        h1 {
            text-align: center;
            padding-top: 30px;
        }
        form {
            margin: 40px;
            border: 1px solid black;
            border-radius: 15px;
            table {
                margin: 5px;
                tr {
                    margin-top: 2px;
                    td label {
                        margin-left: 4px;
                    }
                    td button {
                        text-align: center;
                    }
                    td input[type="text"],  
                    td input[type="number"] {
                        margin-left: 3px;
                        border-radius: 15px;
                        width: 200px;
                    }
                }
            }
        }
    }
}