.opcions-gestions {
    display: flex;
    justify-content: space-between;
    margin: auto auto;
    a {
        text-decoration: none;
        color: black;
        margin: 80px;
        div {
            border: 5px solid black;
            border-radius: 15px;
            padding: 20px;
            width: 200px;
            height: 250px;
            text-align: center;

            img {
                width: 180px;
                height: 180px;
            }
        }

        &:hover {
            cursor: pointer;
            border-radius: 15px;
            background-color: lightgray;
        }
    }
}
