.main-formCrearUsuari {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #f7f7f7;
  
    .form-crearUsuari {
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      
      table {
        width: 100%;
        border-spacing: 0 15px;
  
        td {
          padding: 10px;
          vertical-align: top;
  
          p {
            margin-bottom: 5px;
            font-size: 14px;
            color: #333;
          }
  
          input[type="text"],
          input[type="password"],
          select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
            transition: border-color 0.3s;
  
            &:focus {
              border-color: #007bff;
              outline: none;
            }
          }
        }
  
        tr {
          td {
            &:nth-child(2) {
              padding-left: 15px;
            }
          }
        }
  
        select {
          appearance: none;
          background-color: white;
          padding-right: 30px;
          position: relative;
  
          &:after {
            content: "▼";
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
          }
        }
  
        input[type="submit"] {
          background-color: #4194ec;
          color: white;
          border: none;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          width: 100%;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
  