// Body
$marginBody: 0;
$paddingBody: 0;
$myfont: Arial, sans-serif;

// Ambas tablas
$rowWhite: white;
$rowBlue: #d3cff0;
$bgColorBoton: rgb(177, 175, 175);

// Tabla Registres


// Tabla Usuaris


// Footer
$bgFooter: lightgrey;
$widthIconosInfo: 20px;
$widthIconosRedes: 40px;

// Header
$bgHeader: lightgrey;
$fontSizeHeader: 20px; 