// Body
$marginBody: 0;
$paddingBody: 0;
$myfont: Arial, sans-serif;

// Ambas tablas
$bgColorBoton: hsl(211, 82%, 59%); 
$bgColorBotonHover: #0056b3;  

// Tabla Registres
$borderTableRegistres: 0px;
$paddingTableRegistres: 20px;
$textAlignTableRegistres: center;
$searchBarWidth: 35%;
$searchBarBorder: solid 1px lightgray;
$searchBarBorderRadius: 15px;
$rowRed: rgba(255, 0, 0, 0.5);

// Tabla Usuaris
$borderTableUsuaris: 0px;
$paddingTableUsuaris: 20px;
$textAlignTableUsuaris: center;

// Footer
$bgFooter: lightgrey;
$widthIconosInfo: 20px;
$widthIconosRedes: 40px;

// Header
$bgHeader: lightgrey;
$fontSizeHeader: 20px;
