// Body
$marginBody: 0;
$paddingBody: 0;
$myfont: Arial, sans-serif;

// Ambas tablas
$rowWhite: white;
$rowBlue: #e0f3ff;  // Actualizado para una tonalidad de azul más clara
$bgColorBoton: #4194ec;  // Actualizado a un color más consistente con botones
$bgColorBotonHover: #0056b3;  // Color de hover para los botones

// Tabla Registres
$borderTableRegistres: 0px;
$paddingTableRegistres: 20px;
$textAlignTableRegistres: center;
$searchBarWidth: 35%;
$searchBarBorder: solid 1px lightgray;
$searchBarBorderRadius: 15px;

// Tabla Usuaris
$borderTableUsuaris: 0px;
$paddingTableUsuaris: 20px;
$textAlignTableUsuaris: center;

// Footer
$bgFooter: lightgrey;
$widthIconosInfo: 20px;
$widthIconosRedes: 40px;

// Header
$bgHeader: lightgrey;
$fontSizeHeader: 20px;
