@charset "UTF-8";
/* TAULA OBRES */
.extrasTaulaObres {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 8%;
}
.extrasTaulaObres .crearRegistreObres {
  margin-right: 10px;
  border: 0;
  border-radius: 7px;
  background-color: #4194ec;
  padding: 6px 6px 0px 6px;
  height: 27px;
  text-decoration: none;
  color: white;
}
.extrasTaulaObres .crearRegistreObres img {
  width: 10px;
  margin: 4px 2px;
  float: left;
}
.extrasTaulaObres .barra-busqueda {
  float: right;
  border: solid 1px rgb(182, 182, 182);
  border-radius: 15px;
  width: 250px;
}
.extrasTaulaObres .barra-busqueda img {
  width: 20px;
  margin: 6px 10px 0 10px;
  float: left;
}
.extrasTaulaObres .barra-busqueda input {
  width: 190px;
  border: 0;
  height: 28px;
}
.extrasTaulaObres .barra-busqueda input:focus {
  outline: none;
}

.taulaObres .barra-busqueda {
  float: right;
  margin-top: 10px;
  margin-right: 7%;
  border: solid 1px rgb(182, 182, 182);
  border-radius: 15px;
  width: 250px;
}
.taulaObres .barra-busqueda img {
  width: 20px;
  margin: 6px 10px 0 10px;
  float: left;
}
.taulaObres .barra-busqueda input {
  width: 190px;
  border: 0;
  height: 28px;
}
.taulaObres .barra-busqueda input:focus {
  outline: none;
}
.taulaObres table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}
.taulaObres table th,
.taulaObres table td {
  padding: 20px;
  text-align: center;
}
.taulaObres table td img {
  width: 40px;
  max-height: 40px;
}
.taulaObres table td .imagen-contenedor {
  display: flex; /* Usar flexbox para alinear imágenes */
  justify-content: center; /* Centrar las imágenes en el contenedor */
  align-items: center; /* Alinear verticalmente las imágenes si es necesario */
}
.taulaObres table td a img {
  width: 20px; /* Ajustar el tamaño de las imágenes según sea necesario */
  margin: 0 5px; /* Espaciado horizontal entre las imágenes */
}
.taulaObres table .row-white {
  background-color: white;
}
.taulaObres table .row-blue {
  background-color: #e0f3ff;
}
.taulaObres .edit-options div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.taulaObres .edit-options div a img {
  width: 20px;
}
.taulaObres .imagenFicha a img {
  width: 20px;
}

/* FICHA BASICA */
.fichaBasica {
  background-color: lightgrey;
}
.fichaBasica div {
  width: 800px;
  margin: auto auto;
  border: 1px solid black;
  background-color: white;
}
.fichaBasica div p {
  font-size: 20px;
  text-align: center;
}
.fichaBasica div div {
  width: 700px;
  margin: auto 50px;
  border: 1px solid black;
  margin-bottom: 30px;
}
.fichaBasica div div img {
  width: 100px;
  height: 118px;
  margin: 2px;
  float: left;
}
.fichaBasica div div table tr td {
  width: 180px;
}
.fichaBasica div div table tr td:last-child {
  width: 200px;
  border-bottom: 1px solid lightgray;
}
.fichaBasica div nav {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}
.fichaBasica div nav a {
  text-decoration: none;
  color: black;
}
.fichaBasica div nav a img {
  width: 20px;
  margin-right: 3px;
}

/* FICHA GENERAL */
.fichaGeneral {
  background-color: lightgrey;
}
.fichaGeneral div {
  width: 1700px;
  margin: auto auto;
  border: 1px solid black;
  background-color: white;
  /* PRIMERA FILA FICHA */
  /* SEGUNDA FILA FICHA */
  /* TERCERA FILA FICHA */
  /* ENLACES EXTRAS */
}
.fichaGeneral div p {
  font-size: 20px;
  text-align: center;
}
.fichaGeneral div .primera-fila {
  border: none;
  width: 1500px;
  height: 120px;
  margin-bottom: 70px;
}
.fichaGeneral div .primera-fila .item1 {
  width: 850px;
  float: left;
}
.fichaGeneral div .primera-fila .item1 img {
  width: 110px;
  height: 143px;
  margin: 2px;
  float: left;
  margin-right: 5px;
}
.fichaGeneral div .primera-fila .item2 {
  width: 600px;
  float: right;
}
.fichaGeneral div .segunda-fila {
  width: 1500px;
  height: 120px;
  border: none;
  margin-bottom: 70px;
}
.fichaGeneral div .segunda-fila .item3 {
  width: 600px;
  float: left;
}
.fichaGeneral div .segunda-fila .item4 {
  width: 850px;
  float: right;
}
.fichaGeneral div .tercera-fila {
  width: 1500px;
  border: none;
  height: 120px;
  margin-bottom: 30px;
}
.fichaGeneral div .tercera-fila .item5 {
  width: 850px;
  float: left;
}
.fichaGeneral div .tercera-fila .item6 {
  width: 600px;
  float: right;
}
.fichaGeneral div div div table {
  margin-left: 5px;
}
.fichaGeneral div div div table tr td:first-child {
  width: 250px;
}
.fichaGeneral div div div table tr td {
  height: 25px;
}
.fichaGeneral div .extras {
  width: 1500px;
  margin: auto auto;
  border: 1px solid black;
}
.fichaGeneral div .extras table tr td {
  border-right: 1px solid rgb(136, 135, 135);
  padding-right: 100px;
  text-align: center;
  height: 30px;
}
.fichaGeneral div .extras table tr td a {
  margin-left: 100px;
  text-decoration: none;
  color: black;
}
.fichaGeneral div .extras table tr td:last-child {
  border: none;
}
.fichaGeneral div nav {
  margin: 40px 100px 40px 100px;
  display: flex;
  justify-content: space-between;
}
.fichaGeneral div nav a {
  text-decoration: none;
  color: black;
}
.fichaGeneral div nav a img {
  width: 20px;
  margin-right: 3px;
}/*# sourceMappingURL=obres.css.map */