<footer>
        <div class="info-footer">
            <p><img src="public/img/icono-ubi.png" alt="Ubicació">Carrer Major, 25, 43700 El Vendrell, Tarragona</p>
            <p><img src="public/img/icono-tel.png" alt="Telèfon">977 15 41 92</p>
        </div>
        <div class="redes">
            <img src="public/img/icono-fb.png" alt="Facebook">
            <img src="public/img/icono-x.png" alt="X">
            <img src="public/img/icono-ig.png" alt="Instagram">
        </div>
    </footer>
</body>
</html>